.container{
  display: flex;
  justify-content: space-between;
}
form{
  width: 30%;
}
.loom{
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
}
.line{
  width: 0.01rem;
  height: 100vh;
  background-color: #292f4cb3;
  margin-left: 4rem;
  margin-right: 4rem;
}
input{
  display: block;
}
h1{
  text-align: center;
  color: #292f4cb3;
}
@media(max-width:1000px){
  .loom{
    flex-direction: column-reverse;
  }
  .line{
    height: 0.01rem;
    width: 100vw;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}
